<input 
  [id]="id"
  [type]="type"
  [(ngModel)]="value"
  [placeholder]="placeholder"
  [disabled]="disabled"
  [readonly]="readonly"
  [attr.maxlength]="maxlength"
  [attr.size]="size"
  [autocomplete]="autocomplete"
  [attr.aria-label]="ariaLabel"
  [attr.aria-labelledby]="ariaLabelledBy"
  [class]="'p-inputtext ' + styleClass + ' ' + inputStyleClass"
  pInputText
  (input)="onInputChange($event)"
  (focus)="onInputFocus($event)"
  (blur)="onInputBlur($event)"
  (keydown)="onInputKeyDown($event)"
  (keyup)="onInputKeyUp($event)"
/>