<p-inputNumber 
  [id]="id"
  [(ngModel)]="value"
  [placeholder]="placeholder"
  [styleClass]="styleClass"
  [inputStyleClass]="inputStyleClass"
  [disabled]="disabled"
  [readonly]="readonly"
  [step]="step"
  [mode]="mode"
  [currency]="currency"
  [currencyDisplay]="currencyDisplay"
  [locale]="locale"
  [minFractionDigits]="minFractionDigits"
  [maxFractionDigits]="maxFractionDigits"
  [useGrouping]="useGrouping"
  [showButtons]="showButtons"
  [buttonLayout]="buttonLayout"
  [incrementButtonIcon]="incrementButtonIcon"
  [decrementButtonIcon]="decrementButtonIcon"
  (onInput)="onInputChange($event)"
  (onFocus)="onInputFocus($event)"
  (onBlur)="onInputBlur($event)"
/>